@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #d3e0dc;
    font-family: 'Open Sans', sans-serif;
}
.container {
    width: 22rem;
    display: flex;
    align-items: center;
    background-color: #ece2e1;
    flex-direction: column;
    padding: .5rem;
    margin: 4rem;
    h1 {
        color: #000;
        font-size: 1.5rem;
        
    }
    box-shadow: 0px 2px 10px rgba(0,0,0, 0.2);
    .password {
        width: 310px;
        margin: 10px;
        display: flex;
        align-items: center;
        height: 50px;
        justify-content: space-between;
        flex-direction: row;
        padding: 8px;
        background-color: #fcd1d1;
        color: #000;
        box-shadow: 0 2px 10px rgba(0,0,0, .2);
        p {
            font-size: 1.3rem;
            font-family: inherit;
        }
        i {
            font-size: 1.4rem;
            background-color: #d3e0dc;
            padding: 8px 12px;
            cursor: pointer;
        }
    }
    div {
        width: 310px;
        font-size: 1rem;
        margin: 8px;
        color: #000;
        display: flex;
        justify-content: space-between;
        input {
            border: none;
        }
        input[type="number"] {
            width: 60px;  
            outline: none;
        }
    }
    button {
        border: none;
        background-color: #d3e0dc;
        color: #000;
        width: 310px;
        margin: 10px;
        padding: 10px;
        font-size: 1rem;
        outline: none;
        cursor: pointer;
        font-family: inherit;
        box-shadow: 0 2px 10px rgba(0,0,0, 0.2);
    }
}